[submodule "slides/themes/reveal-hugo"]
	path = slides/themes/reveal-hugo
	url = https://github.com/cric96/reveal-hugo.git
	branch = master
[submodule "code/automation/13-plugin-final"]
	path = code/automation/13-plugin-final
	url = https://github.com/DanySK/Template-for-Gradle-Plugins.git
[submodule "code/ci/00-basic-example"]
	path = code/ci/00-basic-example
	url = https://github.com/DanySK/Tutorial-GitHub-Actions-Minimal.git
[submodule "slides/content/extra/pps-ci-introduction/PPS-ci-examples"]
	path = slides/content/extra/pps-ci-introduction/PPS-ci-examples
	url = https://github.com/APICe-at-DISI/PPS-ci-examples.git
[submodule "slides/static/shared-slides"]
	path = slides/shared-slides
	url = https://github.com/DanySK/shared-slides.git
