<div id="mentimeter-container-{{ .Get 0 }}" style='position: relative; padding-bottom: 56.25%; padding-top: 35px; height: 0; overflow: hidden;'>
    <iframe
        sandbox='allow-scripts allow-same-origin allow-presentation'
        allowfullscreen='true'
        allowtransparency='true'
        frameborder='0'
        height='315'
        src='https://www.mentimeter.com/app/presentation/{{ .Get 0 }}/embed'
        style='position: absolute; top: 0; left: 0; width: 100%; height: 100%;'
        width='420'
    >
    </iframe>
</div>
<script>
    if (/.*?(\?|&)print-pdf/.test(window.location.toString())) {
        console.log("Printing detected. Disabling mentimeter.")
        var todisable = document.getElementById("mentimeter-container-{{ .Get 0 }}")
        var parent = todisable.parentElement
        todisable.remove()
        var replacement = document.createTextNode(
            "There was a Mentimeter pool here, but they get disabled when printing.\
            You might be able to retrieve the results at:\
            https://www.mentimeter.com/app/presentation/{{ .Get 0 }}/"
        )
        parent.appendChild(replacement)
    }
</script>
