@import "reveal-js/dist/theme/template/mixins";
@import "reveal-js/dist/theme/template/settings";


// Include theme-specific fonts
// Include theme-specific fonts

// Sans-serif
// @import url('reveal-js/lib/font/source-sans-pro/source-sans-pro.css');
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans');

// Serif
@import url('https://fonts.googleapis.com/css2?family=Cinzel');

// Handwriting

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script');
// @import url('https://fonts.googleapis.com/css2?family=Satisfy');
// @import url('https://fonts.googleapis.com/css2?family=Hurricane');

// Display
// @import url('https://fonts.googleapis.com/css2?family=Fredoka+One');

// Monospace
@import url('https://fonts.googleapis.com/css2?family=Inconsolata');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono');

$backgroundColor: #fff;

$mainColor: #000;
$headingColor: #111;

$mainFontSize: 2em;
$mainFont: 'Signika Negative', 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Signika Negative', 'Source Sans Pro', Helvetica, sans-serif;
$headingLetterSpacing: normal;
$headingFontWeight: 600;
$linkColor: #0477b9;
$linkColorHover: lighten( $linkColor, 25% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

@import "reveal-js/dist/theme/template/theme";

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

.reveal strong,
.reveal b {
	font-weight: bold;
	color: #9f0000
}

.reveal em {
	font-style: italic;
	color: #006900
}

.reveal section img {
	border: 0em;
	box-shadow: none;
    max-width: 100%;
    max-height: 23em;
    height: auto;
	object-fit: contain;
}

.reveal section img {
	border: 0em;
	box-shadow: none;
}

.reveal div .gist .hljs-ln {
	color: black;
	font-size: 60%;
	line-height: 100%;
}

.reveal h3 {
	margin: .5em 0 0;
}

.reveal ul {
	margin: 0em 0em .2em 0em;
}

.gist-it-gist .gist-file .gist-data pre, .gister-gist .gist-file .gist-data pre {
	box-shadow: none !important;
}

.reveal code {
	color: deeppink;
	line-height: 130%;
	font-weight: bold;
	font-size: 110%;
	font-family: "Inconsolata";
}

.reveal pre {
	width: min-content;
	max-width: 113%;
	margin: 0em;
	padding: 0em;
	border-radius: 1em;
	padding-left: 1em;
	padding-right: 1em;
	border: #000;
	border-width: 1em;
	box-shadow: 0.4em 0.4em 1em .01em #888888;
}

.reveal pre code {
	max-width: 100%;
	line-height: 100%;
	font-size: 1.48em;
	color: black;
	max-height: none;
	font-family: 'Inconsolata';
	font-weight: normal;
	margin: .2em;
}

.reveal div.highlight {
	max-width: 120%;
	overflow-x: visible;
	display: flex;
	justify-content: center;
	margin: 0;
	margin-bottom: .5em;
}

.hljs {
	background: rgba(255, 255, 255, 0.08) !important;
	box-shadow: 0 0 3em 0.6em rgba(255, 255, 255, 0.2);
}


// Nice blockquote and cite

.reveal blockquote {
	width:90%;
	margin:0.3em auto;
	font-family: 'Dancing Script';
	font-style: normal;
	font-size: 1.2em;
	color: #333333;
	padding:0.1em 0.1em 0.1em 0.1em;
	border-color: #039418;
	border-style: solid;
	border-width: 0.1em;
	border-radius: 1em;
	border-left:0.7em solid #039418 ;
	line-height: 1.2em;
	position: relative;
	background:#FAFAFA;
	text-align: center;
}

.reveal blockquote::before{
	font-family:Arial;
	content: "\201C";
	color:#039418;
	font-size: 4em;
	position: absolute;
	left: 0.05em;
	top: 0.25em;
}

.reveal blockquote p::before{
	content: "";
	padding-left: 2em;
}

.reveal blockquote::after{
	font-family:Arial;
	content: "\201D";
	color:#039418;
	font-size: 4em;
	position: absolute;
	bottom: -0.2em;
	right: 0.1em;
}

.reveal cite::before {
	content: "— ";
}

.reveal cite {
	display: block;
	text-align: right;
	padding-right: 10%;
	padding-top: 0.5em;
	font-weight: bolder;
	font-family: 'Cinzel';
	font-size: 0.7em;
}

// Mermaid flowcharts as git graphs

.mermaid .head > polygon {
	fill:#ff7274 !important;
	stroke:#aa1d1f !important;
	stroke-width: 0.1em !important;
}

.mermaid .branch > rect {
	stroke-width: 0.1em !important;
}

.mermaid .commit > rect {
	fill:#ceffef !important;
	stroke:#333 !important;
	stroke-width: 0.05em !important;
}
