name: Build and deploy
on:
  push:
    tags: '*'
    branches-ignore:
      - 'autodelivery**'
      - 'bump-**'
      - 'renovate/**'
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'LICENSE'
      - 'code/**'
      - '.github/workflows/update-hugo.yml'
      - '.github/workflows/check-gradle-projects.yml'
  pull_request:
  workflow_dispatch:

jobs:
  Build-Slides:
    runs-on: ubuntu-20.04
    steps:
      # Checkout the repository
      - name: Checkout
        uses: danysk/action-checkout@0.1.0
      - name: Update package list
        run: sudo apt-get update -y
      - name: Install Chromium
        run: sudo apt-get install -y chromium-browser
      - name: Download Hugo
        run: wget --retry-connrefused --waitretry=1 --read-timeout=20 https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_Linux-64bit.deb --output-document=hugo.deb
        env:
          HUGO_VERSION: "0.88.0"
      - name: List files
        run: ls -ahl
      - name: Install Hugo
        run: sudo dpkg -i hugo.deb
      - name: Print Hugo version
        run: hugo version
      - name: Remove Hugo Installer
        run: rm hugo.deb
      # - name: Start SSH session
      #   uses: luchihoratiu/debug-via-ssh@main
      #   with:
      #     NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
      #     SSH_PASS: ${{ secrets.SSH_PASS }}
      - name: Autotag
        uses: DanySK/semver-autotag-action@master
      - name: Build slides with hugo
        run: |
          cd slides
          hugo
      - name: Make the pdfs
        run: |
          cd slides
          ruby makepdf.rb
      - name: Deploy PDFs
        if: ${{ github.event_name != 'pull_request' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG=$(git describe --tags --exact-match HEAD)
          hub release create -m "$(git tag -l --format='%(contents)' "$TAG")" "$TAG" || true
          for pdf in $(ls slides/*.pdf); do
            echo "Delivering file $pdf"
            gh release upload "$TAG" "$pdf" --clobber
          done
      - name: Deploy website
        if: ${{ github.event_name != 'pull_request' }}
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: slides/build
